@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PXL-App</h1>
    <p>Het nieuwe platform voor al je administratie.</p>
    <img class="m-5 p-5" src="/images/pxldigital.jpg" alt="PXL Digital Logo" />
</div>
